<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>

	<body>
		<%- include('partials/nav') %>

		<div id="content" class="container">
			<div class="d-flex flex-row my-4 py-5">
				<div class="col-sm-12 text-center">
					<h2 class="">Shorten a URL</h2>
				</div>
			</div>

			<div class="col-sm-12">
				<form id='url-create-form'>
					<label for='url-input'>Enter your long URL here</label>
					<input type='text' id='url-input' placeholder='http://aggiedevelopers.com' />
					<label for='slug-input'>Enter your preferred shortened URL here</label>
					<input type='text' id='slug-input' placeholder='awd' />
					<button type='submit'>Shorten!</button>
				</form>
				<pre id='response'>

				</pre>
			</div>
		</div>

		<script src="/scripts/index.js"></script>
		<%- include('partials/footer') %>
	</body>

</html>
